<div *ngIf="!loading" class="d-block my-md-4 justify-content-between align-items-center">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="pr-xl-5 pr-xl-5 mt-4" [translate]="'Registrations.RegistrationCourses'"></h2>
    <div *ngIf="openRegistrationPeriod && !loading" class="ng-hide reg_message d-none d-lg-inline ml-auto text-gray-600" [translate]="'CourseRegistration.RegistrationOpenDates'" [translateParams]="{start: start, end: end}"></div>
  </div>
  <div class="d-flex d-sm-none align-items-center" *ngIf="canShowValidatedCourses && canRegister">
    <div class="ml-auto text-secondary">{{(shouldOnlyShowValidatedCourses ? 'Registrations.OnlyThoseICanRegister' : 'Registrations.AllClasses') | translate}}</div>
    <div class="btn-toolbar ml-2" role="toolbar">
      <div class="btn-group" role="group">
        <button (click)="shouldOnlyShowValidatedCourses=false; filterOnlyValidatedCourses()" [ngClass]="{ 'btn-primary': !shouldOnlyShowValidatedCourses, 'btn-gray-100 text-gray-300': shouldOnlyShowValidatedCourses }" class="btn"><i class="fas fa-cloud"></i></button>
        <button type="button" (click)="shouldOnlyShowValidatedCourses=true; filterOnlyValidatedCourses()" [ngClass]="{ 'btn-primary': shouldOnlyShowValidatedCourses , 'btn-gray-100 text-gray-300': !shouldOnlyShowValidatedCourses}" class="btn"><i class="fas fa-eye-slash"></i></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="canRegister && !loading">

  <!-- *************** NEW NAVIGATION BAR ************** -->
  <div class="reg_navbar rounded d-none d-sm-block">
    <form class="d-flex form-inline p-lg-3 px-md-0 px-sm-0 py-sm-3 py-md-3 col-sm-12 col-md-12 col-lg-12">
      <div class="form-group col-lg-4 col-md-4 col-sm-5 col-xs-5 d-inline-block">
        <label class="d-inline pr-lg-4 pr-md-2 pr-sm-2" for="searchText" [translate]="'Registrations.GroupBy'"></label>
        <select class="form-control rounded text-left pr-sm-4 pr-md-5 pr-lg-5" (change)="onChangeGroup($event.target.value)">
          <option value="semester" [translate]="'Registrations.Semester'"></option>
          <option value="courseType" [translate]="'Registrations.Type'"></option>
        </select>
      </div>
      <div class="d-flex form-group col-lg-8 col-md-8 col-sm-7 col-xs-7 pr-lg-4 pr-md-3 flex-grow-1">
        <label class="pr-lg-4 pr-md-2 pr-sm-2" for="searchText" [translate]="'Registrations.Search'"></label>
        <input [(ngModel)]="query" spellcheck="false" type="text" id="searchText" name="searchText" class="form-control col text-left rounded"
          placeholder="{{ 'Registrations.SearchPlaceholder' | translate }}">
      </div>
    </form>
  </div>

  <div *ngIf = "allAvailableCourses && allAvailableCourses.length >0">
  <div class="d-flex mt-sm-5">
    <div class="reg_courses_body__sidebar d-none d-lg-block">
      <div class="reg_courses_body__semesterChoice border-gray-600 d-none d-lg-block" *ngIf="semesterGroup">
        <!-- filtering By Semester -->
        <div *ngFor="let semester of semesters" (click)="filterBySemester(semester.semester.id)" [ngClass]="{'selectedElementForFiltering text-dark': selectedElement === semester.semester.id}"
             class="semesterChoice-item text-gray-600 mt-1 mb-1">
          {{semester.semester.id | semester }}
        </div>
      </div>
      <div class="reg_courses_body__semesterChoice border-gray-600 d-none d-lg-block" *ngIf="!semesterGroup">
        <!-- filtering By Semester -->
        <div *ngFor="let type of courseTypeGroups" (click)="filterByCourseType(type.courseType.name)" [ngClass]="{'selectedElementForFiltering text-dark': selectedElement == type.courseType.name}"
             class="semesterChoice-item text-gray-600 mt-1 mb-1">
          {{type.courseType.name}}
        </div>
      </div>
    </div>


    <div class="reg_courses_body__main">
      <div *ngIf="canShowValidatedCourses" class="d-none d-sm-flex justify-content-end">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group" role="group">
            <button type="button" (click)="shouldOnlyShowValidatedCourses=false; filterOnlyValidatedCourses()" [ngClass]="{ 'btn-primary': !shouldOnlyShowValidatedCourses, 'btn-gray-100 text-gray-500': shouldOnlyShowValidatedCourses }" class="btn">{{ 'Registrations.AllClasses' | translate}}</button>
            <button type="button" (click)="shouldOnlyShowValidatedCourses=true; filterOnlyValidatedCourses()" [ngClass]="{ 'btn-primary': shouldOnlyShowValidatedCourses , 'btn-gray-100 text-gray-500': !shouldOnlyShowValidatedCourses}" class="btn">{{ 'Registrations.OnlyThoseICanRegister' | translate}}</button>
          </div>
        </div>
      </div>

      <div *ngIf="semesterGroup && selectedElement !== null">
        <div class="mb-3 font-xl text-dark" [ngStyle]="{'display': selectedElement == null ? 'none' : 'inherit'}">
          {{selectedElement | semester }}</div>
      </div>
      <div *ngIf="!semesterGroup && selectedElement !== null">
        <div class="mb-3 font-xl text-dark" [ngStyle]="{'display': selectedElement == null ? 'none' : 'inherit'}">
          {{selectedElement}}</div>
      </div>

      <div class="coursesGroup">
        <div *ngFor="let group of groups" class="text-gray-600 mt-3 mb-3">
          <div *ngIf="semesterGroup && !selectedElement" class="text-gray-600 font-xl mb-3">{{group.semester?.id | semester}}</div>
          <div *ngIf="!semesterGroup" class="text-gray-600 font-xl mb-3">{{group.courseType?.name}}</div>
          <!-- Show a card saying that no courses were found -->
          <div *ngIf="(group.courses | filterBy:['displayCode', 'name']:query).length === 0" class="card card-body card-text">
            {{ 'Registrations.NoCoursesMatchingCriteria' | translate }}
          </div>

        <div *ngFor="let course of (group.courses | filterBy:['displayCode', 'name']:query)" class="reg_courses_body__main_card font-sm d-flex rounded">

          <div class="flex-grow-1">
            <div>
              <!-- Name of lesson and Semester -->
              <div class="reg_courses_body__main_card__titleLesson">
                <h6>
                  <span>{{course?.name}}</span>
                </h6>
              </div>
              <div class="d-flex flex-column justify-content-between mt-3">
                <div class="d-flex justify-content-between flex-sm-column">
                  <div class="text-gray-600" [attr.lang]="currentLanguage">{{ course?.semester.id | semester }}</div>
                  <div class="d-none d-lg-block my-2 text-gray-600" *ngIf="course.section !== 0 && course.sectionName !== null">
                    {{'Registrations.ClassSectionSelection.Section' | translate}}: {{course.sectionName}}
                  </div>
                  <!-- Show more - button in small screens(Mobiles,Tablet) -->
                  <div *ngIf="!course.isHidden" (click)="toggleBlock(course)" class="ng-hide d-flex d-lg-none align-items-center mt-sm-4">
                    <span class="text-gray-600" [translate]="'Registrations.More'" ></span>
                    <div class="arrow-down reg__arrow-down--container"></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- lesson-details Desktop-Tablet -->
            <div class="ng-hide d-lg-flex flex-wrap d-none d-lg-block">
                <div class="mt-2 mr-3"><i class="far fa-flag pr-2"></i>{{course?.displayCode}}</div>
                <div class="mt-2 mr-3"><i class="fas fa-graduation-cap pr-2"></i>{{course?.specialty?.abbreviation}}</div>
                <div class="mt-2 mr-3"><i class="far fa-flag pr-2"></i>{{course?.courseType.name}}</div>

                <div class="d-flex justify-content-between mt-2">
                  <div>
                      <i class="fas fa-graduation-cap pr-2"></i>
                    <span class="mt-2 mr-3"><span [translate]="'Registrations.CP'"></span>:
                      {{course?.units}}</span>
                    <span class="mt-2 mr-3"><span [translate]="'Registrations.ECTS'"></span>:
                      {{course?.ects}}</span>
                  </div>
                </div>

              </div>

            <!-- lesson-details Mobile-->
            <div *ngIf="course.isHidden" class="ng-hide d-flex flex-wrap d-none d-sm-block">
              <div class="col-12 my-2 ml-n3 text-gray-600" *ngIf="course.section !== 0 && course.sectionName !== null">
                {{'Registrations.ClassSectionSelection.Section' | translate}}: {{course.sectionName}}
              </div>
              <div class="mt-2 mr-3"><i class="far fa-flag pr-2"></i>{{course?.displayCode}}</div>
              <div class="mt-2 mr-3"><i class="fas fa-graduation-cap pr-2"></i>{{course?.specialty?.abbreviation}}</div>
              <div class="mt-2 mr-3"><i class="far fa-flag pr-2"></i>{{course?.courseType.name}}</div>

              <div class="d-flex justify-content-between mt-2 w-100 flex-sm-column">
                <div>
                    <i class="fas fa-graduation-cap pr-2"></i>
                  <span class="mt-2 mr-3"><span [translate]="'Registrations.CP'"></span>:
                    {{course?.units}}</span>
                  <span class="mt-2 mr-3"><span [translate]="'Registrations.ECTS'"></span>:
                    {{course?.ects}}</span>
                </div>

                <!-- Show less - button -->
                <div *ngIf="course.isHidden" (click)="toggleBlock(course)" class="ng-hide">
                  <div class="d-flex d-lg-none align-items-center mt-sm-4">
                    <span class="text-gray-600" [translate]="'Registrations.Less'"></span>
                    <div class="arrow-up reg__arrow-up--container"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Choose the lesson (Button) -->
          <div class="reg_select-lesson_container" *ngIf="!course.isRegisteredCourse">
            <button class="reg__select-btn purple-btn" (click)="registerForCourse(course)" [translate]="'Registrations.Choose'">
            </button>
          </div>

          <!-- The lesson has been Selected. You can remove it here-->
          <div class="reg_select-lesson_container" *ngIf="course.isRegisteredCourse">
            <div class="text-success font-lg" [translate]="'Registrations.Selected'">
            </div>
            <button *ngIf="!course.isLocked"
                    class="reg__btn--small text-gray-400 border-gray-400 bg-white" (click)="removeCourse(course)"
                    [translate]="'Registrations.Remove'" [disabled]="(course.isLocked)">
            </button>
            <ng-template #tooltipText><div [translate]="'Registrations.CannotRemoveMessage'" class="text-secondary font-sm"></div></ng-template>
            <span *ngIf="course.isLocked"  [tooltip]="tooltipText" placement="top" containerClass="course-tooltip"
                  class="text-danger" [translate]="'Registrations.CannotRemove'"></span>
          </div>
        </div>
      </div>

    </div>

    </div>
  </div>
  </div>
  <div class="d-flex" *ngIf="allAvailableCourses && allAvailableCourses.length == 0">
    <div class="col-12 text-center ">
      <h4 class="mt-sm-5 empty_reg" [translate]="'Registrations.EmptyAvailableCourses'"></h4>
    </div>
  </div>

<!-- this will execute when the footer-bar will be open -->
<div *ngIf="footerIsOpen && canRegister" class="reg__footer--open d-none d-sm-none d-md-flex">
  <div class="reg__footer_box1">
    <div class="reg__footer_title d-flex align-items-center text-dark font-xl" [translate]="'Registrations.RegistrationCoursesList'"></div>
    <div class="d-flex flex-wrap">
      <h4 class="col-8 pl-0 reg_message font-sm font-weight-light text-gray-600" [translate]="'Registrations.CourseRegistrationMessage'"></h4>
    </div>
    <div class="d-flex flex-wrap">
      <div class="text-success reg__footer_box1_lesson" *ngFor="let addedCourse of currentRegistration.classes">
        {{addedCourse.courseClass.title || addedCourse.name}}
      </div>
    </div>
  </div>

  <div class="reg__footer_box2 d-flex flex-column justify-content-end">
    <div class="reg__arrow-position arrow-down" (click)="changefooterIsOpen(false)"></div>
    <div class="align-items-center">
      <div class="mb-3 font-lg">
        <div class="d-flex justify-content-between align-items-center w-100 ml-4">
          <span class="flex-nowrap" [translate]="'Registrations.SelectedCourses'"></span>
          <span class="ml-3">{{currentRegistration.classes.length}}</span>
        </div>
        <div class="d-flex justify-content-between align-items-center w-100 ml-4">
          <span [translate]="'Registrations.UnitsCP'"></span>
          <span class="ml-3">{{totalUnits}}</span>
        </div>
        <div class="d-flex justify-content-between align-items-center w-100 ml-4">
          <span [translate]="'Registrations.UnitsECTS'"></span>
          <span class="ml-3">{{totalEcts}}</span>
        </div>
      </div>
      <div class="reg__select-btn btn btn-success ml-5" [routerLink]="['../checkout']" [translate]="'Registrations.Register'"></div>
    </div>
  </div>

</div>

  <!-- open-footer in MOBILES -->
  <!-- **IN MOBILES** this will execute when the footer-bar will be open **IN MOBILES** -->
  <div *ngIf="footerIsOpen && canRegister" class="reg__footer--open d-sm-block d-md-none">
    <div class="reg__footer_title d-flex align-items-center text-dark font-xl mb-2"
      [translate]="'Registrations.RegistrationCoursesList'"></div>
    <div id="reg__footer_scrollbox" class="scrollbox_shading">
      <div class="reg__footer_box1">
        <div class="d-flex flex-wrap">
          <h4 class="col-8 pl-0 reg_message font-sm font-weight-light text-gray-600"
            [translate]="'Registrations.CourseRegistrationMessage'"></h4>
        </div>
        <div class="d-flex flex-wrap">
          <div class="text-success reg__footer_box1_lesson" *ngFor="let addedCourse of currentRegistration.classes">
            {{addedCourse.courseClass.title || addedCourse.name}}
          </div>
        </div>
      </div>
      <div class="reg__footer_box2 d-flex flex-column justify-content-end">
        <div class="reg__arrow-position arrow-down" (click)="changefooterIsOpen(false)"></div>
        <div class="display-flex-column align-items-center">
          <div class="mb-3 font-lg">
            <div class="d-flex justify-content-between align-items-center w-100 reg__footer_stats-item">
              <span class="flex-nowrap" [translate]="'Registrations.SelectedCourses'"></span>
              <span class="ml-3">{{currentRegistration.classes.length}}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100 reg__footer_stats-item">
              <span [translate]="'Registrations.UnitsCP'"></span>
              <span class="ml-3">{{totalUnits}}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100 reg__footer_stats-item">
              <span [translate]="'Registrations.UnitsECTS'"></span>
              <span class="ml-3">{{totalEcts}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3"><div class="reg__select-btn btn btn-success" [routerLink]="['../checkout']"
      [translate]="'Registrations.Register'"></div></div>
  </div>


<!-- this will execute when the footer-bar will be closed -->
<div *ngIf="!footerIsOpen && canRegister" class="reg__footer--closed d-flex justify-content-between text-gray-600" (click)="changefooterIsOpen(true)">
  <div class="d-flex">
    <span class="reg__footer_title d-flex align-items-center font-lg" [translate]="'Registrations.SelectedCourses'"></span>
    <span class="d-flex ml-5 align-items-center font-4xl text-success">{{currentRegistration?.classes.length}}</span>
  </div>

  <div class="reg__footer_box2--closed d-flex flex-column justify-content-center align-items-center">
    <div class="reg__arrow-position arrow-up" (click)="changefooterIsOpen(true)"></div>
    <div class="reg__select-btn btn btn-success" [routerLink]="['../checkout']" [translate]="'Registrations.Register'"></div>
  </div>
</div>
</div>

<div *ngIf="!canRegister && !loading">
  <universis-msgbox *ngIf="code" (action)="performDefaultAction()" title="{{'PeriodRegistrationEffectiveStatus.title' | translate: currentPeriod }}"
    icon="{{'PeriodRegistrationEffectiveStatus.' + code + '.icon' | translate }}" info="{{'PeriodRegistrationEffectiveStatus.' + code + '.info' | translate }}"
    message="{{'PeriodRegistrationEffectiveStatus.' + code + '.message' | translate: currentPeriod }}" extraMessage="{{'PeriodRegistrationEffectiveStatus.' + code + '.extraMessage' | translate }}"
    actionButton="{{'PeriodRegistrationEffectiveStatus.' + code + '.actionButton' | translate }}" actionText="{{'PeriodRegistrationEffectiveStatus.' + code + '.actionText' | translate }}">
  </universis-msgbox>
  <!-- Temporary way to skip specialty selection -->
  <universis-msgbox *ngIf="code=='SELECT_SPECIALTY'" (action)="skipToCourseRegistration()" title="{{'PeriodRegistrationEffectiveStatus.title' | translate: currentPeriod }}"
    icon="{{'PeriodRegistrationEffectiveStatus.SKIP_SELECT_SPECIALTY.icon' | translate }}" info="{{'PeriodRegistrationEffectiveStatus.SKIP_SELECT_SPECIALTY.info' | translate }}"
    message="{{'PeriodRegistrationEffectiveStatus.SKIP_SELECT_SPECIALTY.message' | translate: currentPeriod }}" extraMessage="{{'PeriodRegistrationEffectiveStatus.SKIP_SELECT_SPECIALTY.extraMessage' | translate }}"
    actionButton="{{'PeriodRegistrationEffectiveStatus.SKIP_SELECT_SPECIALTY.actionButton' | translate }}" actionText="{{'PeriodRegistrationEffectiveStatus.SKIP_SELECT_SPECIALTY.actionText' | translate }}">
  </universis-msgbox>
</div>
